.rain-drop {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  width: 400px;
  height: 500px;
}
.cloud {
  position: absolute;
  top: 0;
  height: 30%;
  background-color: #fff;
  border-radius: 50%;
  z-index: 30;
}
.cloud-l {
  width: 60%;
  transform: translate(-25%, 15%)
}
.cloud-m {
  width: 50%;
  right: 0;
  transform: translate(-35%, 15%)
}
.cloud-r {
  width: 80%;
  right: 0;
  transform: translate(45%, 15%)
}
.cloud-r-r {
  width: 80%;
  right: 0;
  transform: translate(15%, -25%)
}
.cloud-l-l {
  width: 60%;
  transform: translate(5%, -25%)
}
/* 雨滴 */
.rain {
  position: absolute;
  margin: 0 auto;
  right: 0;
  left: 0;
  width: 80px;
  height: 40px;
  border-radius: 80px;
  background-color: #fff;
  animation: animate-fire 4s ease infinite;
  opacity: 0;
}
@keyframes animate-fire {
  0% {
    transform: rotate(45deg) scale(.1);
    opacity: 0;
    top: 0;
  }
  30% {
    transform: rotate(30deg) scale(.5);
  }
  60% {
    transform: rotate(60deg) scale(1.2);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: rotate(45deg) scale(1);
    opacity: 0;
    top: 450px;
    background-color: #fff;
  }
}