
.loading-layout p {
  position: absolute;
  margin: auto;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
@keyframes markdown-h1-animation {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes markdown-body-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.blog-article-footer {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 30px auto;
}
.tag-list {
  display: inline-block;
  vertical-align: middle;
}
.tag-list a {
  float: left;
  margin: 0 5px;
  padding: 0 20px;
  line-height: 2;
  font-size: 1.3rem;
  background-color: #f3f3f3;
  cursor: pointer;
  color: #333;
}
.taglist-container i {
  vertical-align: middle;
}
.taglist-container {
  vertical-align: middle;
}

