.talk-header {
  max-width: 900px;
  margin: auto;
}
.talk-header h1 {
  font-size: 60px;
  opacity: .2;
  color: rgba(0,0,0,0.2);
}
.talk-nav a {
  font-size: 1.2rem;
  line-height: 2;
  color: #666;
  padding: 20px;
}
.talk-header nav {
  animation: disscuss-header-animation 1.3s cubic-bezier(0, 0, 0, 1.01);
}
.talk-wrapper {
  max-width: 750px;
  margin: 20px auto;
}
.talk-loading-wrap {
  position: fixed;
  top: 50%;
  left: 50%;
}
.talk-wrapper {
  animation: disqus-animation 2.5s ease;
}
@keyframes disqus-animation {
  0% {
    opacity: 0;
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
@media screen and (max-width: 500px) {
  .talk-header {
    max-width: 100%;
    margin: auto;
  }
  .talk-wrapper {
    max-width: 100%;
    padding: 20px;
  }
}